// Sizes
$max-width: 750px;
$avatar-size: 210px;

:root {
    --font-family-sans-serif: 'Roboto', sans-serif;
    --font-family-special: 'Josefin Sans', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

// Colors
$black: #222222;
$red: #dc3545;

// Internal variables
$y-small: 0.6rem;
$y-medium: 1.0rem;

// Placeholders
%link-default {
    color: $red;
    text-decoration: none;

    & * {
        color: $red;
    }

    &:hover {
        color: $red;
        text-decoration: underline;
    }
}

%link-dark {
    color: $black;
    text-decoration: none;

    & * {
        color: $black;
    }

    &:hover {
        color: $black;
        text-decoration: underline;
    }
}

%table-cell {
    border: 1px solid #cccccc;
    padding: 6px 12px;
    text-align: left;
}

// Style
.navbar *, h1, h2, h3, h4, h5, h6 {
    color: $black;
    font-family: var(--font-family-special);
    line-height: 1.2;
}

.container {
    max-width: $max-width;
}

.navbar-brand {
    @extend %link-dark;
    font-size: 2rem;
    font-family: var(--font-family-special);
    letter-spacing: 0.15em;
    font-weight: 300;
}

.nav-link {
    @extend %link-default;
}
@media screen and (min-width: 576px) {
    .navbar {
        display: block;
    }
}

$avatar-circle-margin: 15px;


.avatar {
    text-align: center;
    display: block;

    & > img {
        border-radius: 50%;
        height: $avatar-size;
        width: $avatar-size;
        float: none;
        margin: 0 auto;
    }

    @media screen and (min-width: 576px) {
        display: inline;


        & > img {
            float: right;
            margin: 0 0 0 $avatar-circle-margin;
            $ellipse-vertical: calc($avatar-size / 2);
            shape-outside: ellipse(($avatar-size / 2 + $avatar-circle-margin) ($avatar-size / 2));
        }
    }
}



@media screen and (min-width: ($max-width + ($avatar-size / 2) + 10px)) {
    figure.avatar > img {
        margin: 0 (-$avatar-size / 2) 0 $avatar-circle-margin;
        shape-outside: ellipse(($avatar-size / 2 + $avatar-circle-margin) ($avatar-size / 2) at ($avatar-size / 2 + $avatar-circle-margin) center);
    }

    .container {
        padding-right: ($avatar-size / 2);
        max-width: $max-width + ($avatar-size / 2);
    }
}

#content {
    a {
        @extend %link-default;
    }

    p {
        margin-bottom: $y-small;
        @media screen and (min-width: 576px) {
            text-align: justify;
        }
    }
    li {
        @media screen and (min-width: 576px) {
            text-align: justify;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: medium;
        font-weight: bold;
        margin: $y-medium 0 $y-small 0;
    }

    @for $i from 1 through 4 {
        h#{$i} {
            font-size: 1.2rem + 0.2 * (4 - $i);
        }
    }

    img {
        display: block;
        margin: $y-medium auto;
    }

    ol {
        counter-reset: list;
        list-style: none;
        padding-left: 2rem;

        &>li:before {
            content: "[" counter(list, decimal) "] ";
            counter-increment: list;
        }
    }

    .container>ol {
        padding-left: 0;
    }

    ul {
        list-style: outside;
        padding-left: 1em;
    }

    ul.blog-list {
        padding-left: 0;
    }

    table {
        margin: $y-medium auto;
        width: 100%;

        & th {
            @extend %table-cell;
            font-weight: bold;
        }

        & td {
            @extend %table-cell;
        }

        & tr:nth-child(2n) {
            background-color: #f8f8f8;
        }
    }

    blockquote {
        border-left: 4px solid;
        font-style: italic;
        margin: $y-medium 0;
        padding: 8px 8px;
    }

    code {
        color: $black;
        background-color: #f8f8f8;
        border: 1px solid #cccccc;
        border-radius: 10%;
        padding: 0px 4px;
    }

    pre code {
        all: unset;
    }

    .highlight {
        margin: $y-medium auto;

        &>pre {
            padding: 8px 8px;
        }
    }
}

#footer {
    a {
        @extend %link-dark;
    }
}

#content ul.blog-list {
    list-style: none;

    li {
        margin: 16px 0;
        a {
            text-decoration: none;

            div:first-child { 
                color: $red;
                font-weight: bold;
            }

            &:hover div:first-child {
                text-decoration: underline;
            }

            div:not(:first-child) {
                color: $black;
                font-family: var(--font-family-sans-serif);
            }
        }
    }
}

#content p {
    font-family: var(--font-family-sans-serif);
}

#content .date {
    /*font-family: var(--font-family-special);*/
    color: lighten($black, 30%);
}

#content h1 {
    text-decoration: solid;
    text-decoration-skip-ink: auto;
}
