

{{ $css := resources.Get "katex.min.css" | fingerprint }}
<link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}">
{{ $js := slice (resources.Get "katex.min.js") (resources.Get "contrib/auto-render.min.js") | resources.Concat "katex.js" | minify | fingerprint }}
<script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>

<!-- Script to enable inline math expressions -->
<script>
   document.addEventListener("DOMContentLoaded", function() { renderMathInElement(document.body); });
</script>
